/*!
 * CSS for Page HOME
 *
 */
 
 a:hover {
 cursor:pointer;
}
 
 
.top-buffer {  
	background-color: #66E066;
	padding-top: 2%;
	padding-bottom: 2%;
}
.headline{
	
}

.headerLinks {
	color: #333333;
	text-decoration: none;
}
.headerLinks:active{
	color: #333333;
	text-decoration: none;
}
.headerLinks:hover{
	color: #333333;
	text-decoration: none;
}

#myModal .modal-body {
	max-height: 800px;
}

.languageBtn{
	margin-top:10px;
}

.content {
	padding-top: 1%;
	padding-bottom: 1%;
	margin-top: 20 px;
	margin-bottom: 20 px;
}
.navAccordeon{
	margin-top: 1px;
	margin-bottom: 30px;
	margin-left:10px;
	margin-right:10px;
	background-color:#E0F0FF;
	margin-bottom:15px;
}
.navAccordLink {
	color: #333333;
	text-decoration: none;
}
.navAccordLink:active {
	color: #333333;
	text-decoration: none;
}


.navtree {
	background-color: #99CCFF;
	padding: 1%;
	border-radius:10px;
	margin-left:6px;
	margin-right:6px;
}

.navtreecell {
	padding: 1%;
	backgground-color: #FFFF99;
	border-left:2px solid;
}
.navTreeCellgap {
	margin-bottom:7px;
}

a.navTreeContent {
	font-size:15px;
	color: #333333;
	text-decoration: none;
}

a.navTreeContent:visited{
	font-size:18px;
	font-style: italic;
	color: #333333;
}

.contResultList {
	background-color: #D1FFC2;
	padding: 10px;
	margin-top: 20px;
}

.contAskNewQuestion {
	background-color: #A3FF85;
	padding: 10px;
	height: 270px;
	border-radius:10px;
	margin-top:20px;
}

h2.headersContainers{
	font-size: 28px;
}


.qacContainer {
	padding:1%;
}
.questionObject{
	background-color: #F8F8F8;
	margin-bottom:10px;
	padding-bottom:1%;

}
.question {
	margin-top:10px;
	padding-left: 2%;
	padding-right:2%;
}
.questionFont {
	font-size: 18px;
	line-height: 1.2;
}

.questionFooter{
	margin-bottom:2px;
}
.questionFooterText{
	font-style:italic;
	color:#C0C0C0;	
	font-size:11px;
}

.answer{
	padding-left:50px;
	
}
.answerFont {
	font-size: 16px;
	font-style:italic;
}



.comment{
	background-color:#99D6FF;
	margin-top:5px;
	border-radius:15px;
	padding:2%;
}
.commentText{
	
}
.commentFooter{

}
.commentFooterFont {
	font-style:italic;
	color:#C0C0C0;	
	font-size:11px;
}


.textNewQuestion {
	width: 180px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.footer {
	background-color: #66E066;
	margin-top: 200px;
	padding-top: 2%;
	padding-bottom: 2%;
	font-size: 14px;
}
 