/*!
 * CSS for Page HOME
 *
 */
 
.top-buffer {  
	background-color: #66E066;
	padding-top: 2%;
	padding-bottom: 2%;
}
.headline{
	
}

.content {
	padding-top: 1%;
	padding-bottom: 1%;
	margin-top: 20 px;
	margin-bottom: 20 px;
}


.navtree {
	background-color: #FF9933;
	margin-top: 1px;
	margin-bottom: 30px;
	margin-left:10px;
	margin-right:10px;
	padding: 1%;
	border-radius:10px;
}

.navtreecell {
	height: 200px;
	padding: 2%;
	backgground-color: #FFFF99;
	border:2px solid;

}

.contResultList {
	background-color: #D1FFC2;
	padding: 10px;
}

.contAskNewQuestion {
	background-color: #A3FF85;
	padding: 10px;
	height: 270px;
}

.headersContainers{
	font-size: 28px;
}

.question {
	background-color: 
}
.questionFont {
	font-size: 22px;
}

.answer{
	
}

.answerFont {
	font-size: 14px;
}





.textNewQuestion {
	width: 180px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.footer {
	background-color: #66E066;
	margin-top: 200px;
	padding-top: 2%;
	padding-bottom: 2%;
	font-size: 14px;
	margin-left:2%;
}
 